{# templates/livraison/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nouvelle Livraison{% endblock %}

{% block body %}


<div class="container">
    <h1 style="text-align: center; color: #C4704B; margin-bottom: 30px;">Ajouter une Livraison</h1>
{{ include('livraison/_form.html.twig') }}



{% endblock %}
