{# templates/livraison/newback.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nouvelle Livraison{% endblock %}

{% block body %}
<div class="container" style="max-width: 600px; margin-top: 50px;">
    <h1 style="text-align:center; color:#C4704B;">Ajouter une Livraison</h1>

    {# Inclusion du formulaire avec la variable form #}
    {{ include('livraison/_formback.html.twig', { form: form }) }}
</div>
{% endblock %}
