<form method="post" action="{{ path('back_suivi_livraison_delete', {'id': suivi.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce suivi ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ suivi.id) }}">
    <button class="btn-marron" type="submit">Supprimer</button>
</form>