{% extends 'base.html.twig' %}

{% block title %}New SuiviLivraison{% endblock %}

{% block body %}
 <div class="custom-card">
        <h1>Ajouter un Suivi de Livraison</h1>

    {{ include('suivi_livraison/_form.html.twig') }}

   
{% endblock %}
